body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #AEB0B5;
}

.brand-font {
    font-size: 2rem;
}

.font-1 {
    font-size: 1.5rem;
}

.font-2 {
    font-size: 1.2rem;
}

.nav-link img {
    height: 4rem;
}

#news-container,
#posts-container {
    background-color: white;
    padding: 2%;
}

.news_image,
.post_image {
    width: 60%;
    height: auto;
    margin: auto;
}

button i {
    pointer-events: none;
}

table tbody tr{
    cursor: pointer;
    background-color: rgba(31, 31, 88, 0.8);
}

table tbody tr:hover {
    opacity: 0.5;
}

.topic-posts tbody tr .post-user {
    width: 20%;
    border-right: 1px solid black;
}

.topic-posts tbody tr .post-user div{
    padding: 25% 0;
    text-align: center;
}

.topic-posts tbody tr,
.topic-requests tbody tr,
.comment-requests tbody tr {
    cursor: auto;
    background-color: rgba(31, 31, 88, 0.8);
} 

.topic-posts tbody tr:hover,
.topic-requests tbody tr:hover,
.comment-requests tbody tr:hover {
    opacity: 1;
}

.comment-requests tbody tr td {
    text-align: center;
    vertical-align: middle;
}

#comment_body {
    width: 50%;
    clear: both;
}

.comment-card {
    border: 1px solid white;
    background-color: rgba(124, 124, 124, 0.384);
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.555);
}

.comment-card p {
    margin: auto;
}

.commentNum {
    display: inline-block;
    margin-left: 4rem;
    margin-right: 0.5rem;
}

.post-img {
    width: 50%;
    height: auto;
    margin: 0 auto;
}
