body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #AEB0B5;
}

.brand-font {
    font-size: 2rem;
}

.font-1 {
    font-size: 1.5rem;
}

.font-2 {
    font-size: 1.2rem;
}

.nav-link img {
    height: 4rem;
}

#news-container {
    background-color: white;
    padding: 2%;
}

button i {
    pointer-events: none;
}
